<div
  class="modal fade"
  id="items-modal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" id="items-modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="items-container">
          <% location.items.forEach((item) => { %>

            <!-- the item image, name and translation are a button -->
          <button class="item" data-item="<%= JSON.stringify(item) %>">
            <img
              class="item-icon"
              src="/img/items/<%= item.name %>.png"
            />
            <div>
              <%= item.name.split("-").join(" ") %> / <%= item.translation %>
            </div>

            <audio controls>
              <source src="/audio/<%= item.name %>.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </button>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>
