<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('head.ejs') %>
  <!-- each location is created by using ejs interpolation of the path of my background image's 
    name and using string methods to write them into the title-->
    <title>
      <%= location.name[0].toUpperCase() + location.name.slice(1).split("-").join(" ") %>
    </title>
  </head>

  <body class=" background full-page">
        <%- include('topnav.ejs') %>
          <section class="stage">
            <img class="full-sized-img" src="/img/backgrounds/<%= location.name %>.png" alt="<%= location.name %>" />
            <!-- items modal is a separate ejs file which is included and animated into the dom -->
            <%- include('items-modal.ejs', { location: location }) %>

              <img class="character-overlay fade-in" src="/img/npcs/<%= location.npc %>.png"
                alt="<%= location.npc %>" />

              <div class="speech-overlay fade-in delayed transparent"
                data-dialogue="<%= JSON.stringify(location.text) %>" data-location="<%= location.name %>">
                <div class="text-container typing-animation delayed">
                  <%= location.text[0] %>
                </div>
              </div>
          </section>
  </body>

          <script src="/js/location.js"></script>

</html>