<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include head.ejs %>
    <title>
      <%= user.local.email %>'s Profile
    </title>
</head>

<body class="background">
  <%- include topnav.ejs %>
    <section class="full-page">

    <div class="items">
      <h1 class="centered-content">Items collected:</h1>
      <section class="page-flex">
        <ul class="no-bullets row">
          <!-- ejs interpolation method to save each item -->
          <% user.items.forEach((item)=> { %>
            <% const [english, vietnamese] = item.split('|') %>
            <li>
              <img class="item-icon" src="/img/items/<%= english %>.png" />
              <div class="saved-item"> <%= english.split('-').join(' ') %></div>
              <div class="saved-item translated-item"><%= vietnamese %></div>
            </li>
            <% }); %>
        </ul>
      </section>
    </div>
    </section>

    <br>

      <div class="locations">
        <h1 class="centered-content">Locations visited:</h1>
        <section class="page-flex centered-content">
          <ul class="no-bullets row">
            <% user.visitedLocations.forEach((location)=> { %>
              <li class="saved-item">
                <%= location.split('-').join(' ') %>
              </li>
              <% }); %>
          </ul>
      </div>
    </section>

    <footer class="footer-bg text-center text-white">
      <%- include footer.ejs %>
     </footer>
</body>

</html>